label {
  margin: 15px;
}

.switch-button {
  // display: inline-block;
  width: 200px;
  padding: 8px;
  background-color: #000000;
  color: #FCFE14;
  border: 2px solid #FFD700;
  margin: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}